* {
  font-family: "Eina 01", sans-serif;
  color: #0b1e47;
}

.gw-reward-page__banner-wrapper {
  width: 100%;
  text-align: center;
}

.gw-reward-page__banner {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.gw-reward-page__banner-content {
  width: 100%;
  position: absolute;
  top: 15%;
}

.gw-reward-page__banner-header {
  line-height: 1;
}

.gw-reward-page__banner-join {
  width: 254px;
  height: 46px;
  margin-top: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #0b1e47;
  background: #ffffff;
  border: 1px solid #0b1e47;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: pointer;
}

.gw-container .ssw-reward-btn {
  width: auto;
  text-align: initial;
  background: var(--gw_reward_buttons_color, var(--gw_main_color));
  padding: 15px 13px 13px 13px;
  border: none;
  border-radius: var(--gw_main_border_radius, 2px);
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--gw_main_ft_family, "Roboto", sans-serif);
  cursor: pointer;
  line-height: 1;
}

.gw-container .ssw-reward-btn:hover,
.gw-container .ssw-reward-btn:active {
  background: var(--gw_reward_buttons_color, var(--gw_main_color));
  color: #fff;
}

.gw-container .ssw-reward-btn::before,
.gw-container .ssw-reward-btn::after {
  display: none;
}

.gw-reward-page__header {
  max-width: 1216px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.gw-reward-page__header .gw-active {
  background: rgba(0, 186, 238, 0.05);
  font-weight: 600;
  border-bottom: 3px solid #0b1e47;
}

.gw-reward-page__menu {
  width: 150px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  cursor: pointer;
  padding: 29px 0;
  text-align: center;
}

.gw-reward-page__balance-icon {
  margin-top: 12px;
}

.gw-reward-page__balance {
  margin-left: 18px;
}

.gw-reward-page__tier {
  text-align: center;
  padding-right: 16px;
}

.gw-reward-page__balance-count,
.gw-reward-page__tier-text {
  font-size: 12px;
  letter-spacing: 0.01em;
}

.gw-reward-page__balance-text,
.gw-reward-page__tier-status {
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
}

.gw-reward-page-menu.gw-active:after {
  content: " ";
  width: 100%;
  height: 3px;
  position: absolute;
  display: block;
  left: -3px;
  bottom: -3px;
  background: var(--gw_reward_buttons_color, var(--gw_main_color));
}

.gw-reward-page__header_right {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gw-reward-page__header_left {
  width: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gw-reward-page__header_right__divider {
  width: 34px;
  height: 0px;
  left: 158px;
  border: 0.5px solid rgba(11, 30, 71, 0.3);
  transform: rotate(90deg);
}

.gw-reward-page__free-bonuses-content .gw-reward-page__card {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gw-reward-page__card {
  display: inline-block;
  max-width: 145px;
  text-align: left;
}

.gw-reward-page__section {
  padding: 80px 0;
}

.gw-reward-page__section-title {
  margin-bottom: 42px;
  text-align: center;
  font-weight: 600;
  font-size: 28px;
}

.gw-reward-page__section-card {
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gw-reward-page__card-number {
  width: 50px;
  height: 50px;
  background: #0b1e47;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gw-reward-page__card-title {
  font-weight: 600;
  font-size: 18px;
}

.gw-reward-page__card-text {
  font-weight: 400;
  font-size: 14px;
  color: rgba(11, 30, 71, 0.6);
}
.gw-reward-page__section .gw-reward-page__card-btn_md {
  font-size: 16px;
}

.gw-reward-page__card-btn {
  width: 195px;
  padding: 11px;
  border: 1px solid #0b1e47;
  border-radius: 5px;
  font-weight: 400;
  font-size: 12px;
  background: #fff;
}

.gw-reward-page__card-btn:hover {
  color: #fff;
  background-color: #0b1e47;
  cursor: pointer;
}

.gw-reward-page__redeem-points-content {
  display: block;
}

.gw-reward-page__redeem-points-content .gw-reward-page__card {
  max-width: 205px;
}

.gw-reward-page__redeem-points-content-text {
  margin-bottom: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gw-reward-page__redeem-points {
  display: block;
  background: rgba(11, 30, 71, 0.03);
}

.gw-reward-page__redeem-points .gw-reward-page__card-number {
  font-size: 28px;
  background: linear-gradient(
    334.32deg,
    #0b1e47 43.38%,
    rgba(11, 30, 71, 0.62) 94.12%
  );
}

.gw-reward-page__available-rewards {
  max-width: 1040px;
  margin: 0 auto;
}

.gw-reward-page__available-rewards__title {
  display: flex;
  text-align: left;
}

.gw-reward-page__available-rewards__tooltip {
  width: fit-content;
  display: none;
  margin-top: -15px;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 400;
  background-color: rgba(11, 30, 71, 0.04);
  border-radius: 3px;
}

.gw-reward-page__available-rewards__tooltip__icon {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 5px;
  font-style: initial;
  cursor: pointer;
}

.gw-reward-page__available-rewards__tooltip__icon:hover
  .gw-reward-page__available-rewards__tooltip {
  display: block;
}

.gw-reward-page__available-rewards__card {
  width: fit-content;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  padding: 16px;
  text-align: center;
  border-radius: 5%;
  box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.05);
}

.gw-reward-page__available-rewards__card_sm {
  height: 147px;
}

.gw-reward-page__available-rewards__card .gw-close {
  width: 15px;
  margin-left: 90%;
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.gw-reward-page__available-rewards__icon {
  width: 66px;
  height: 66px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: -2px 2px 20px rgba(0, 0, 0, 0.05);
}

.gw-reward-page__available-rewards__cards-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.gw-reward-page__available-rewards__card-text {
  margin-bottom: 16px;
  margin-top: 12px;
  font-size: 15px;
}

.gw-reward-page__reward-item {
  padding: 8px;
  background: rgba(0, 186, 238, 0.05);
  border: 0.5px solid rgba(0, 186, 238, 0.15);
  border-radius: 6px;
}

.gw-reward-page__reward-item__btn {
  font-size: 12px;
  font-weight: 600;
}

.gw-reward-page__reward-item__code_success {
  margin: 0;
  font-size: 12px;
  color: #008060;
}

.gw-reward-page__reward-item__code {
  display: flex;
  justify-content: space-between;
  line-height: 1em;
}

.gw-reward-page__reward-item__copy-icon {
  margin-left: 40px;
}
.gw-reward-page__reward-item__redeem-form__info {
  display: flex;
  font-size: 12px;
  border-bottom: 0.5px solid #0b1e47;
}

.gw-reward-page__reward-item__redeem-form__info-column {
  width: 50%;
  padding: 12px 3px;
}

.gw-reward-page__reward-item__redeem-form__info-column:last-child {
  border-left: 0.5px solid #0b1e47;
}
.gw-reward-item__redeem-form__discount-amount {
  display: block;
}

.gw-reward-page__reward-item__redeem-form__discount-range-wrapper {
  display: flex;
  justify-content: spa;
  margin-top: 21px;
  margin-bottom: 25px;
  font-size: 12px;
}

.gw-reward-page__reward-item__redeem-form__discount-range-wrapper span {
  margin-top: 3px;
}

.gw-reward-page__reward-item__redeem-form__discount-range input {
  height: 2px;
}

.gw-reward-page__reward-item__redeem-form__discount-range
  input[type="range"]::-webkit-slider-thumb {
  color: #fff;
}

.gw-reward-item__redeem-form__discount-price,
.gw-reward-item__redeem-form__discount-amount {
  font-weight: 600;
}

.gw-reward-page__card-btn_dark {
  color: #fff;
  background-color: #0b1e47;
}

.gw-reward-page__reward-item__redeem-form__text {
  font-size: 14px;
}

.gw-reward-page__reward-item__redeem-form__text_sm {
  font-size: 12px;
}

.gw-reward-page__card-btn_sm {
  width: 92px;
}

.gw-reward-page__available-rewards__card-exchange
  .gw-reward-page__reward-item__redeem-form__info {
  display: block;
  border-bottom: none;
}

.gw-reward-page__available-rewards__card-exchange
  .gw-reward-page__reward-item__redeem-form {
  border-top: 0.5px solid #0b1e47;
}

.gw-reward-page__reward-item__redeem-form__text_sm {
  margin-bottom: 20px;
}

.gw-reward-page__available-rewards__card-amount
  .gw-reward-page__reward-item__redeem-form__info {
  margin-top: 19.5px;
  margin-bottom: 20px;
  border-top: 0.5px solid #0b1e47;
  border-bottom: none;
}

.gw-text-center {
  text-align: center;
}

.gw-reward__load-more-link {
  text-decoration: none;
}

.gw-icon-angle-down {
  display: block;
  margin-top: 60px;
}

input[type="range"] {
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #0b1e47;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0.295732px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 1.77439px 4.73171px rgba(0, 0, 0, 0.15),
    0px 0.591463px 0.591463px rgba(0, 0, 0, 0.16),
    0px 1.77439px 0.591463px rgba(0, 0, 0, 0.1);
  height: 16px;
  width: 16px;
  border-radius: 25px;
  background: #fbfbfb;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #0b1e47;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #0b1e47;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0.295732px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 1.77439px 4.73171px rgba(0, 0, 0, 0.15),
    0px 0.591463px 0.591463px rgba(0, 0, 0, 0.16),
    0px 1.77439px 0.591463px rgba(0, 0, 0, 0.1);
  height: 16px;
  width: 16px;
  border-radius: 25px;
  background: #fbfbfb;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #0b1e47;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #0b1e47;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0.295732px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0px 1.77439px 4.73171px rgba(0, 0, 0, 0.15),
    0px 0.591463px 0.591463px rgba(0, 0, 0, 0.16),
    0px 1.77439px 0.591463px rgba(0, 0, 0, 0.1);
  height: 16px;
  width: 16px;
  border-radius: 25px;
  background: #fbfbfb;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #0b1e47;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #0b1e47;
}
